:root {
    background-color: #D4D6DD;
}

#container {
    margin: 10px auto;
    background-color: white;
    width: 40vw;
    padding: 7px;
    border-radius: 4px;
    box-shadow: 0 0 5px #7e7e80;
}

#input-container {
    display: flex;
    padding: 8px 5px;
    background-color: #EEEEEE;
    border-radius: 4px;
    align-items: center;
    /** Animate changes to the background color **/
    transition: background-color 0.25s;
    margin-bottom: 5px;
}

/** Change the colour of the text box container when the text box is focused **/
#input-container:focus-within {
    background-color: #c9c9c9;
}

#task-input {
    /** Inherit the colour of the parent element **/
    background-color: inherit;
    border: none;
    font-size: 1.2rem;
    flex-grow: 1;
    flex-shrink: 1;
}

/** Remove the outline from the task input box when it is focused **/
#task-input:focus-visible {
    outline: none;
}


#tasks-icon {
    margin-left: 8px;
    margin-right: 8px;
}

#add-button {
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
}


#upper-controls {
    display: flex;
    font-size: 0.8rem;
    color: #bab8be;
    padding: 5px;
}

#upper-controls i {
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

#bottom-controls {
    font-size: 0.8rem;
    color: #bab8be;
    padding: 5px 13px;
}

#task-count {
    color: #000000;
}

#task-list {
    font-size: 1.2rem;
    padding-inline-start: 0;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid rgb(175, 175, 175);
    border-bottom: 1px solid rgb(175, 175, 175);
    margin: 0;
    padding: 10px 5px;
}

#task-list:empty {
    border-bottom: none;
}

#task-list > li {
    display: flex;
    margin-left: 8px;
    margin-bottom: 10px;
}

#task-list > li > input[type="checkbox"] {
    margin-right: 10px;
}

#task-list > li > .delete-button {
    visibility: hidden;
}

#task-list > li:hover > .delete-button {
    visibility: visible;
}

.completed {
    text-decoration: line-through;
}

/** Utility classes **/
.hidden {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

.align-right {
    margin-left: auto;
}


/** Overrides for responsiveness **/
@media screen and (max-width: 1024px) {
    #container {
        width: 60vw;
    }
}

@media screen and (max-width: 768px) {
    #container {
        width: 80vw;
    }
}